<div class="ticket-booking">
  <form class="example-form" [formGroup]='bookingForm'>
    <div> <b>Movie Booking System</b></div>
    <mat-form-field>
      <mat-label>Movies List</mat-label>
      <mat-select formControlName="movieName">
        <mat-option *ngFor="let movie of moviesList" [value]="movie.id">
          {{movie.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Movie Seat</mat-label>
      <mat-select formControlName="seat">
        <mat-option *ngFor="let seat of seatsList" [value]="seat">
          {{seat}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <button mat-button  (click)="bookTicket()" [disabled]="bookingForm.status=='INVALID'" >Book Ticket</button>
  </form>
  <div>
    <button mat-button  (click)="logout()" >Logout</button>
  </div>
</div>