<div class="ticket-booking-login">
  <form class="example-form" [formGroup]='loginForm'>
    <div> Login Details</div>
    <div class="login-warning" *ngIf="flashWrong"> Please provide valid login details!</div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field><br>
    <button mat-button  (click)="login()" [disabled]="loginForm.status=='INVALID'" >Login</button> <!--[disabled]="loginForm.status=='invalid'"-->
  </form>
</div>